body{
    margin: 0;
}
#hero{
    font-family: 'Open Sans', sans-serif;
    background: url("img/faded-office.png");
    background-size: cover;
    color: #020202;
    padding: 35px 0px 100px 60px;  
}
#title{
    width: 200px;
    font-weight: 800;
}
#motto{
    width: 220px;
    font-weight: 600;
    margin-bottom: 30px;
}
.underline{
    border-bottom: 4px solid #0ea5e9;
}
#chat-btn{
    font-family: inherit;
    font-weight: bold; 
    font-size: 14px;
    padding: 13px 26px;
    background: #0ea5e9;
    color: white;
    border: none;
}