.main{
    text-align: center;
}
.main-heading{
    color: #121212;
}
.stadium-img{
    width: 350px;
    border: 3px solid #121212;
}
.story-para{
    font-size: 14px;
    font-style: italic;
    margin-top:5px;
}
.form-wrapper{
    margin-top: 30px;
}
.email-input{
    border: 3px solid #121212;
    width: 185px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    font-weight: bold;
    text-align: inherit;
    padding: 8px 16px;
    margin-bottom: 10px;
}
.join-btn{
    color: white;
    background: #121212;
    width: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 16px;
    margin-bottom: 15px;
}
.service-para{
    font-size: 14px;
    font-style: italic;
}

.service-link{
    color: #121212;
}
